* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(45deg, rgb(7, 144, 207),#eb4f85);
    color: #f5cd79;
    min-height: 100vh;
    min-width: 100vh;
    display: flex
    flex-direction column;
}

h1 {
    font-size: 60px;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
}

.hh {
    margin: 40px;
    max-height: 200px;
    max-width: 300px;
    transform: scale(1);
    transition: transform(0.3);
}

.hh:hover {
    transform: scale(1.5);
}

.hh img {
    cursor: pointer;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

